table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.bg-coffee {
    background: url("img/coffee.jpeg") center center;
    display: flex;
    background-size: cover;
}

.coffee-welcome {
    background-color: lightgrey;
    width: 100%;
    text-align: center;
    opacity: .5;
}
#jumbotron{
    padding-left: 0;
    padding-right: 0;
}
.icons{
    margin: 2px;
}
#navbar{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

